* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    font-family: arial;
    position: relative;
}
.header {
    position: static;
    box-shadow: 0 0 10px #6e6e6e;
    height: 120px;
    width: 100%;
    text-align: right;
    background-color: #FFF;
    margin: 0 auto;
    margin-bottom: 100px;
}
.header .navbar {
    position: sticky;
    top:0; 
    font-size: 15px;
    padding-top: 35px;
    display: flex;
    justify-content: space-between;
}
.header .navbar .links {
    font-size: 14px;
    margin-top: 16px;
}
.button-links {
    margin-top: -12px;
}
.header .navbar .links :nth-child(2) {
    padding-left: 50px;
}
.header .navbar .links :nth-child(3) {
    padding-left: 50px;
}
.header .navbar a {
    color: #16002C;
    text-decoration: none;
    font-weight: 700;
}
.navbar img {
    margin-top: -60px;
}
.header .navbar .button-links {
    margin-right: 50px;
    margin-top: 1px;
}
.header .navbar .rdv {
    height: 50px;
    border: 0;
    border-radius: 12.5px;
    padding: 12px 15px 12px 15px;
    font-size: 14px;
    background: #00375e;
    color: #FFF;
    cursor: pointer;
}
.header .navbar .contact {
    height: 50px;
    border: 1px solid #000;
    font-weight: 900;
    border-radius: 12.5px;
    padding: 12px 15px 12px 15px;
    font-size: 14px;
    background: #FFF;
    color: #000;
    cursor: pointer;
}
.header .navbar a:nth-child(5) {
    margin-left: 10px;
}
.header .navbar a:nth-child(4) {
    margin-left: 10px;
}
.header .navbar a:nth-child(3) {
    margin-left: 10px;
}
.header .navbar a:nth-child(2) {
    margin-left: 10px;
}
.header .navbar span {
    margin-left: 40px;
}

/* Main */
.main .web-site {
    width: 70%;
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    margin-bottom: 125px;
}
.main .web-site h2 {
    font-size: 40px;
    font-weight: bold;
}
.main .web-site p {
    font-size: 15px;
    font-weight: 100;
}
.web-performance {
    background: #070E27;
    color: #FFF;
    padding: 50px 0 50px 0px;
}
.web-performance .content {
    width: 40%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}
.main .optimisation {
    padding: 50px 0 50px 0;
    background: #E4DFFF;
    color: #000;
}
.main .optimisation h2 {
    text-align: center;
    font-size: 54px;
}
.main .optimisation .content {
    display: flex;
    justify-content: space-evenly;
}
.main .optimisation .content .marketing, .contact, .design-ux, .copywriting {
    text-align: center;
}
.main .optimisation .content h3 {
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 0.25px;
}
.main .optimisation .content p {
    font-size: 15px;
    line-height: 27px;
}
.text{
    text-align: left;
}
.main .google-ads {
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: 0 auto;
    padding: 50px 0 50px 0;
}
.main .google-ads h2 {
    font-size: 40px;
    text-align: center;
}
.main .why-google {
    color: #FFF;
    background:#070E27; 
    padding: 50px 0 50px 0;
    display: flex;
}
.main .why-google .content {
    width: 60%;
    margin: 0 auto;
}
.main .why-google h2 {
    font-size: 40px;
}
.main .why-google .content p {
    line-height: 28px;
    letter-spacing: 0.25px;
}
.main .why-google .content .strong {
    font-size: 22px;
}
.main .why-google .content .other {
    font-size: 15px;
}
.main .campagnes {
    text-align: center;
    padding: 50px 0 50px 0;
    background: #E4DFFF;
}
.main .campagnes .content {
    width: 70%;
    margin: 0 auto;
    padding-top: 75px;
}
.main .campagnes .content .content-blocks {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}
.main .campagnes .content .content-blocks p {
    font-size: 15px;
    line-height: 28px;
}

/* Meta */
.main .meta-ads .content{
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: 0 auto;
    padding: 50px 0 50px 0;
}
.main .meta-ads h2 {
    font-size: 40px;
    text-align: left;
}
.main .meta-ads .content p {
    line-height: 24px;
    font-size: 15px;
}
.main .why-google {
    color: #FFF;
    background:#070E27; 
    padding: 50px 0 50px 0;
    display: flex;
}
.main .why-google .content {
    width: 60%;
    margin: 0 auto;
}
.main .why-google h2 {
    font-size: 40px;
}
.main .why-google .content p {
    line-height: 28px;
    letter-spacing: 0.25px;
}
.main .why-google .content .strong {
    font-size: 22px;
}
.main .why-google .content .other {
    font-size: 15px;
}
.main .campagnes {
    text-align: center;
    padding: 50px 0 50px 0;
    background: rgb(243, 243, 243) ;
}
.main .campagnes .content {
    width: 70%;
    margin: 0 auto;
    padding-top: 75px;
}
.main .campagnes .content .content-blocks {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}
.main .campagnes .content .content-blocks p {
    font-size: 15px;
    line-height: 28px;
}

/* Why Meta */
.main .why-facebook {
    color: #FFF;
    background:#070E27; 
    padding: 50px 0 50px 0;
    display: flex;
}
.main .why-facebook .content {
    width: 60%;
    margin: 0 auto;
}
.main .why-facebook h2 {
    font-size: 40px;
}
.main .why-facebook .content p {
    line-height: 28px;
    letter-spacing: 0.25px;
}
.main .why-facebook .content .strong {
    font-size: 22px;
}
.main .why-facebook .content .other {
    font-size: 15px;
}

/* Methodo */
.grid_container{
    display: grid; 
    grid-template-rows: 20% 1fr;
    grid-template-columns: 10% 1fr 10%;
    line-height: 1.6;
}

#methodo_title{
    grid-column: 2/3; 
    grid-row: 1/2;
    text-align: center;
}

#methodo_flexbox{
    display: flex;
    grid-column: 2/3; 
    grid-row: 2/3;
    flex-direction: row;
    justify-content: space-between;
}

#methodo_flexbox > div {
    width: 22% ;
}

#methodo1{
    display: flex;  
    flex-direction: column;
    text-align: left; 
     
}

.methodo_h2{
    color: #33648d;
}



/* Footer de la page index */
/* Footer */

.footer {
    height: 600px;
    background: #000234;   
    color: #FFF;
    box-shadow: 0 0 5px #fff;
}
.content-flex {
    display: flex;
    justify-content: space-around;
    padding-top: 100px;
}
.content-flex .content-left {
    padding-left: 50px;
    margin-top: -10px;
}
.content-flex .content-left h2 {
    margin-top: 0;
}
.content-flex .content-right span{
    font-weight: 900;
}
.content-flex .content-right .text {
    font-size: 11px;
    color: #988FA3;
    font-weight: 100;
}
.content-flex .content-left h2 { 
    font-size: 30px;
    font-weight: 900;
}
.content-flex .content-left button {
    width: 239.8px;
    height: 56px;
    font-size: 18px;
    font-weight: 100;
    color: #FFF;
    background: #594FF4;
    border-radius: 100px;
    border: 0;
    cursor: pointer;
}
.content-bottom {
    text-align: center;
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
}
.content-bottom a {
    margin-left: 40px;
    font-size: 13px;
    font-weight: 100;
    color: #EFEEF2;
    text-decoration: none;
}
.popup button {
    cursor: pointer;
    position: fixed;
    bottom: 12.5px;
    right: 40px;
    height: 50px;
    font-size: 14px;
    padding: 12px 15px 12px 15px;
    color: #FFF;
    background: #00375e;
    border-radius: 12.5px;
    border: 0;
}
.popup button:hover {
    transition-duration: 1.5s;
    background: #00375e;
    border-radius: 100px;
    color: #FFF;
}


@media only screen and (min-width : 1224px){
    .methodo_img{
        background-color: #33648d;
    }
}