* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    font-family: arial;
    position: relative;
}
.header {
    position: static;
    box-shadow: 0 0 10px #6e6e6e;
    height: 120px;
    width: 100%;
    text-align: right;
    background-color: #FFF;
    margin: 0 auto;
    margin-bottom: 100px;
}
.header .navbar {
    font-size: 15px;
    padding-top: 35px;
    display: flex;
    justify-content: space-between;
}
.header .navbar .links {
    font-size: 14px;
    margin-top: 16px;
}
.button-links {
    margin-top: -12px;
}

.index-slider{
    display: flex;
    justify-content: space-between;
    padding: 0% 5% 0 5%;
}


.header .navbar .links :nth-child(2) {
    padding-left: 50px;
}
.header .navbar .links :nth-child(3) {
    padding-left: 50px;
}
.header .navbar a {
    color: #16002C;
    text-decoration: none;
    font-weight: 700;
}
.navbar img {
    margin-top: -60px;
}

.index-slider{
    display: flex;
}

.header .navbar .button-links {
    margin-right: 50px;
    margin-top: 1px;
}
.header .navbar .rdv {
    height: 50px;
    border: 0;
    border-radius: 12.5px;
    padding: 12px 15px 12px 15px;
    font-size: 14px;
    background: #00375e;
    color: #FFF;
    cursor: pointer;
}
.header .navbar .contact {
    height: 50px;
    border: 1px solid #000;
    font-weight: 900;
    border-radius: 12.5px;
    padding: 12px 15px 12px 15px;
    font-size: 14px;
    background: #FFF;
    color: #000;
    cursor: pointer; 
}
.header .navbar a:nth-child(5) {
    margin-left: 10px;
}
.header .navbar a:nth-child(4) {
    margin-left: 10px;
}
.header .navbar a:nth-child(3) {
    margin-left: 10px;
}
.header .navbar a:nth-child(2) {
    margin-left: 10px;
}
.header .navbar span {
    margin-left: 40px;
}
.main-middle-part-top {
    width: 60%;
    margin: 0 auto;
    padding-top: 150px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
}
.main-middle-part-top h1 {
    color: #000;
    font-size: 50px;
    font-weight: 900;
    margin-bottom: 40px;
}
.main-middle-part-top .text {
    line-height: 1.7;
    font-size: 25px;
}
.qr_code {
    display: flex;
}
.qr_code .content {
    margin-top: 10px;
}
.qr_code img {
    height: 130px;
    width: 130px;
    border-radius: 15px; 
}
.stars_note img {
    height: auto;
    width: auto;
    border-radius: 0;
}
.qr_code span {
    padding-top: 40px;
    padding-left: 20px;
}
.qr_code span img {
    width: 100px;
    height: 30px;
}
.trustpilot-widget {
    margin-left: -37px;
    height: 15px;
}
.text-truspilot {
    font-size: 14px;
    margin-left: 10px;
}
.main-middle-part-top .img_top {
    margin-top: -260px;
    text-align: right;
    width: 740px;
    height: 1045px;
}
.domaine-expertise {
    background: #070E27;
    width: 100%;
    color: #FFF;
    padding-top: 80px;
    padding-bottom: 80px;
}
.domaine-expertise .text .title{
    text-align: center;
    font-size: 53px;
    font-weight: bold;
}
.domaine-expertise .text p {
    text-align: center;
    font-size: 12px;
}
.domaine-expertise .index-slider .content {
    width: 65%;
    display: flex;
    margin: 0 auto;
    justify-items: center;
}
.domaine-expertise .content .social-media, .ads, .web-site, .bulle{
    width: 500px;
    height: 400px;
    background: #081732;
    padding: 25px;
    border-radius: 16px;
}
.domaine-expertise .content .social-media a, .ads a, .web-site a{
    color: #FFF;
    text-decoration: none;
}
.domaine-expertise .content .ads {
    margin-left: 50px;
}
.domaine-expertise .content .web-site {
    margin-left: 50px;
}
.domaine-expertise .content p {
    font-size: 13px;
    color: #96A2B7;
}
.main-content-middle {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 100px;
    background: #FFF;
    padding-top: 100px;
}
.main-content-middle .main-middle-part-to-bottom {
    display: flex;
    width: 90%;
    margin: 0 auto;
    justify-content: space-around;
}
.main-content-middle .main-middle-part-to-bottom .text {
    margin-left: 100px;
}
.main-content-middle .main-middle-part-to-bottom .img img {
    border-radius: 20px;
    border: 0;
    width:  700px;
}
.main-middle-part-to-bottom span {
    font-size: 17px;
    font-weight: 900;
}
.main-middle-part-to-bottom h1 {
    line-height: 1.5;
    font-weight: 900;
    margin-bottom: 0;
    margin-top: 0;
    font-size: 47px;
}
.main-middle-part-to-bottom .text p {
    font-size: 15px;
    line-height: 1.4;
    margin: 0;
}
.main-middle-part-to-bottom .text p:first-of-type {
    margin-top: 15px;
}
.button button {
    cursor: pointer;
    background-color: #594FF4;
    margin-top: 40px;
    color: #FFF;
    font-size: 13px;
    border-radius: 50px;
    width: 150px;
    height: 49px;
    border: 0;
}
.arion-en-chiffre {
    background: linear-gradient(to bottom, #E4DFFF, #FFF);
    padding-top: 50px;
    padding-bottom: 50px;
}
.arion-en-chiffre .title {
    font-size: 55px;
    font-weight: bold;
    text-align: center;
}
.arion-en-chiffre .chiffres .number {
    font-size: 66px;
    font-weight: bold;
}
.arion-en-chiffre .chiffres {
    display: flex;
    justify-content: space-around;
}
.arion-en-chiffre .chiffres .intituler {
    font-size: 19px;
    font-weight: 200;
    margin-top: -25px;
}
.arion-en-chiffre .chiffres .symbol {
    color: blue;
    font-size: 36px;
}
.arion-en-chiffre .chiffres .visites, .clients {
    margin-left: -50%;
}

.main-middle-part-bottom{
    padding-bottom: 0;
    margin-bottom: 0;
}

.main .main-middle-part-bottom .text {
    display: flex;
    justify-content: space-between;
}
.main-middle-part-bottom .text h2 {
    margin-bottom:30px;
}
.main-middle-part-bottom .text p {
    line-height: 1.5;
}
.main-content-middle-bottom .inside-text .number-flex {
    display: flex;
    justify-content: space-around;
    font-size: 50px;
    font-weight: 900;
}

.counter-container {
    text-align: center;
    transition: opacity 1s;
    display: flex;
    justify-content: space-around;
}

.counter, .counter2, .counter3 {
    font-size: 50px;
    font-weight: bold;
    color: #333;
    user-select: none;
}

.sign {
    font-size: 20px;
    font-weight: 800;
}
.counter2 {
    margin-left: 100px;
}
.counter3 {
    margin-left: 100px;
}

.text-number {
    font-size: 20px;
    margin-top: 25px;
    margin-left: 10px;
    font-weight: 900;
}

.main-content-middle-bottom .inside-text .number-flex div:nth-child(2) {
    padding-left: 250px;
}
.main-content-middle-bottom .inside-text .number-flex div:nth-child(3) {
    padding-left: 250px;
}

.main-content-middle-bottom .inside-text .text .number {
    font-size: 100px;
    font-weight: bolder;
}
.main-content-middle-bottom .inside-text .text .number:nth-child(2) {
    margin-left: 100px;
}
.main-content-middle-bottom .inside-text .text .number:nth-child(3) {
    margin-left: 100px;
}
.main-content-middle-bottom span {
    font-weight: 800;
}
.main-content-middle-bottom .title {
    font-weight: 800;
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
}
.main-content-middle-bottom .inside-text {
    margin-top: calc(150px/2);
}
.main-content-middle-bottom .number {
    line-height: 1.8;
}
.main-content-bottom {
    text-align: center;
    margin-bottom: 50px; 
}
.main-content-bottom .title {
    font-weight: 800;
    font-size: 45px;
}

.catchphrase {
    color : #000234;
    padding: 0;
    font-size: 3em;
    margin : 0;
    padding-bottom: 15px;
    white-space: nowrap; 
    overflow: hidden; 
    position: relative;
    font-style: italic;
    font-weight: 800;
    margin-top: -250px;
}

.catchphrase > p {
    animation: scrollText 12s linear infinite;
  }

@keyframes scrollText {
    0% {
        transform: translateX(100%); 
    }
    100% {
        transform: translateX(-100%); 
    }
}
.bulle{
    position: relative; 
}
.bulle > a {
    text-decoration: underline;
    position: absolute;
    bottom: 10px;
    right: 30px;
}
.domaine-expertise .content .bulle .link-1 {
    text-decoration: underline;
}

.main-content-bottom .logo-bottom {
    height: auto;
    width: 90%;
    margin: 0 auto;
    border-radius: 33px;
    padding: 50px;
    background: #EEEE;
    display: flex;
    justify-content: space-around;
}
.main-content-bottom .logo-bottom img {
    height: 50px;
}
.last-part-bottom {
    height: auto;
    padding: 20px;
    width: 90%;
    background: #E4DFFF;
    margin: 0 auto;
    border-radius: 33px;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}
.last-part-bottom .content-text{
    margin-left: 50px;
    text-align: left;
}
.last-part-bottom .content-text .first-text {
    font-size: 65px;
}
.last-part-bottom .content-text .second-text {
    font-size: 25px;
}
.last-part-bottom .content-text p {
    font-weight: 900;
    line-height: 1.8;
    letter-spacing: -1px;
}
.last-part-bottom .content-text .email {
    height: 50px;
    padding-left: 12.5px;
    border-radius: 5px;
    border: 0;
    width: 300px;
    font-size: 14px;
    outline: none;
}
.last-part-bottom .content-text button {
    height: 50px;
    width: 150px;
    font-size: 16px;
    text-align: center;
    color: #FFF;
    background: #594FF4;
    border: 0;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 33px;
    margin-bottom: 15px;
}
.last-part-bottom .content-text .little-text {
    font-size: 14px;

}
.footer {
    height: 600px;
    background: #000234;   
    color: #FFF;
    box-shadow: 0 0 25px #000;
}
.content-flex {
    display: flex;
    justify-content: space-around;
    padding-top: 100px;
}
.content-flex .content-left {
    padding-left: 50px;
    margin-top: -10px;
}
.content-flex .content-left h2 {
    margin-top: 0;
}
.content-flex .content-right span{
    font-weight: 900;
}
.content-flex .content-right .text {
    font-size: 11px;
    color: #988FA3;
    font-weight: 100;
}
.content-flex .content-left h2 { 
    font-size: 30px;
    font-weight: 900;
}
.content-flex .content-left button {
    width: 239.8px;
    height: 56px;
    font-size: 18px;
    font-weight: 100;
    color: #FFF;
    background: #594FF4;
    border-radius: 100px;
    border: 0;
    cursor: pointer;
}
.content-bottom {
    text-align: center;
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
}
.content-bottom a {
    margin-left: 40px;
    font-size: 13px;
    font-weight: 100;
    color: #EFEEF2;
}
.popup button {
    cursor: pointer;
    position: fixed;
    bottom: 12.5px;
    right: 40px;
    height: 50px;
    font-size: 14px;
    padding: 12px 15px 12px 15px;
    color: #FFF;
    background: #00375e;
    border-radius: 12.5px;
    border: 0;
}
.popup button:hover {
    transition-duration: 1.5s;
    background: #00375e;
    border-radius: 100px;
    color: #FFF;
}