/* Code pour les écrans pc (1024px) */
@media screen and (min-width: 1024px) {
    * {
        box-sizing: border-box;
    }
    body, html {
        line-height: 1.6;
    }
    .main .header {
        height: 120px;
        width: 100%;
        text-align: right;
        margin: 0 auto;
    }
    .main .header .navbar {
        font-size: 15px;
        height: 26px;
        margin-right: 40px;
        padding-top: 48px;
        display: flex;
        justify-content: space-between;
    }
    .main .main-middle-part-top {
        width: 90%;
        margin: 0 auto;
        padding-top: 150px;
        margin-bottom: 50px;
        display: flex;
        justify-content: space-between;
    }
    .main .main-middle-part-top h1 {
        color: #000;
        font-size: 30px;
        font-weight: 900;
        margin-bottom: 40px;
    }
    .main .main-middle-part-top .text {
        line-height: 1.7;
        font-size: 18px;
    }
    .main-middle-part-top .img_top {
        margin-top: -20px;
        text-align: right;
        height: 400px;
    }
}

/* Code pour les écrans pc L (1440px) */
@media screen and (min-width: 1440px) {
    * {
        box-sizing: border-box;
    }
    body, html {
        line-height: 1.6;
    }
    .main .header {
        height: 120px;
        width: 100%;
        text-align: right;
        margin: 0 auto;
    }
    .main .header .navbar {
        font-size: 15px;
        height: 26px;
        margin-right: 40px;
        padding-top: 48px;
        display: flex;
        justify-content: space-between;
    }
    .main .main-middle-part-top {
        width: 65%;
        margin: 0 auto;
        padding-top: 180px;
        margin-bottom: 50px;
        display: flex;
        justify-content: space-between;
    }
    .main-middle-part-top .img_top {
        margin-top: -75px;
        text-align: right;
        height: 660px;
    }
}

/* Code pour les écrans pc 4K */
@media screen and (min-width: 2560px) {
    * {
        box-sizing: border-box;
    }
    body, html {
        line-height: 1.6;
    }
    .main .header {
        height: 120px;
        width: 100%;
        text-align: right;
        margin: 0 auto;
    }
    .main .header .navbar {
        font-size: 15px;
        height: 26px;
        margin-right: 40px;
        padding-top: 48px;
        display: flex;
        justify-content: space-between;
    }
    .main .header .navbar img {
        margin-left: 100px;
    }
    .main .main-middle-part-top {
        width: 50%;
        margin: 0 auto;
        padding-top: 150px;
        margin-bottom: 50px;
        display: flex;
        justify-content: space-around;
    }
    .main .main-middle-part-bottom .text {
        display: flex;
        justify-content: space-between;
    }
    .main-middle-part-bottom .text h2 {
        margin-bottom:30px;
    }
    .main-middle-part-bottom .text p {
        line-height: 1.5;
    }
    .main-content-middle {
        width: 100%;
        margin: 0 auto;
        margin-bottom: 100px;
        background: #FFF;
        padding-top: 100px;
    }
    .main-content-middle .main-middle-part-to-bottom {
        display: flex;
        width: 50%;
        margin: 0 auto;
         /* justify-content: space-between; */
    }
    .main-content-bottom .logo-bottom {
        height: auto;
        width: 50%;
        margin: 0 auto;
        border-radius: 33px;
        padding: 50px;
        background: #EEEE;
        display: flex;
        justify-content: space-around;
    }
    .last-part-bottom {
        height: auto;
        padding: 20px;
        width: 50%;
        background: #E4DFFF;
        margin: 0 auto;
        border-radius: 33px;
        margin-top: 50px;
        display: flex;
        justify-content: space-around;
    }
}