* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.header {
    position: static;
    box-shadow: 0 0 10px #6e6e6e;
    height: 120px;
    width: 100%;
    text-align: right;
    background-color: #FFF;
    margin: 0 auto;
    margin-bottom: 100px;
}
.header .navbar {
    font-size: 15px;
    padding-top: 35px;
    display: flex;
    justify-content: space-between;
}
.header .navbar .links {
    font-size: 14px;
    margin-top: 16px;
}
.button-links {
    margin-top: -12px;
}
.header .navbar .links :nth-child(2) {
    padding-left: 50px;
}
.header .navbar .links :nth-child(3) {
    padding-left: 50px;
}
.header .navbar a {
    color: #16002C;
    text-decoration: none;
    font-weight: 700;
}
.navbar img {
    margin-top: -60px;
}
.header .navbar .button-links {
    margin-right: 50px;
    margin-top: 1px;
}
.header .navbar .rdv {
    height: 50px;
    border: 0;
    border-radius: 12.5px;
    padding: 12px 15px 12px 15px;
    font-size: 14px;
    background: #00375e;
    color: #FFF;
    cursor: pointer;
}
.header .navbar .contact {
    height: 50px;
    border: 1px solid #000;
    font-weight: 900;
    border-radius: 12.5px;
    padding: 12px 15px 12px 15px;
    font-size: 14px;
    background: #FFF;
    color: #000;
    cursor: pointer;
}
.header .navbar a:nth-child(5) {
    margin-left: 10px;
}
.header .navbar a:nth-child(4) {
    margin-left: 10px;
}
.header .navbar a:nth-child(3) {
    margin-left: 10px;
}
.header .navbar a:nth-child(2) {
    margin-left: 10px;
}
.header .navbar span {
    margin-left: 40px;
}
main {
    padding-top: 0;
    width: 75%; 
    margin: 0 auto;
}
main img {
    margin-top: -100px;
}
main .top {
    display: flex;
    margin-bottom: 87px;
}
main .top .text h1 {
    font-family: Outfit;
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    line-height: 84px;
    background: linear-gradient(357deg, #FFF -43.68%, #FFF -15.02%, #FFF -5.73%, #5E6AAC 75.86%, #031E7D 146.06%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
main .top .text {
    color: #040404;
    font-family: arial;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25.2px;
}
main .top .text button {
    width: 230px;
    height: 43px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 6px;
    background: #594FF4;
    color: #FFF;
    border: 0;
}

/* Second Part */ 
main .audit {
    display: flex;
 }
main .audit .text h1 {
    font-family: Outfit;
    font-size: 70px;
    font-style: normal;
    font-weight: 500;
    line-height: 84px;
    background: linear-gradient(357deg, #FFF -43.68%, #FFF -15.02%, #FFF -5.73%, #5E6AAC 75.86%, #031E7D 146.06%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
main .audit .text {
    color: #040404;
    font-family: arial;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25.2px;
}
/* third part */
main .plan-action {
    display: flex;
 }
main .plan-action .text h1 {
    font-family: Outfit;
    font-size: 70px;
    font-style: normal;
    font-weight: 500;
    line-height: 84px;
    background: linear-gradient(357deg, #FFF -43.68%, #FFF -15.02%, #FFF -5.73%, #5E6AAC 75.86%, #031E7D 146.06%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
main .plan-action .text {
    color: #040404;
    font-family: arial;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25.2px;
}
/* fourth part */
main .mise-en-application {
    display: flex;
}
main .mise-en-application .text h1 {
    font-family: Outfit;
    font-size: 70px;
    font-style: normal;
    font-weight: 500;
    line-height: 84px;
    background: linear-gradient(357deg, #FFF -43.68%, #FFF -15.02%, #FFF -5.73%, #5E6AAC 75.86%, #031E7D 146.06%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
main .mise-en-application .text {
    color: #040404;
    font-family: arial;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25.2px;
}
/* last part */
main .accompagnement {
    display: flex;
}
main .accompagnement .text h1 {
    font-family: Outfit;
    font-size: 70px;
    font-style: normal;
    font-weight: 500;
    line-height: 84px;
    background: linear-gradient(357deg, #FFF -43.68%, #FFF -15.02%, #FFF -5.73%, #5E6AAC 75.86%, #031E7D 146.06%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
main .accompagnement .text {
    color: #040404;
    font-family: arial;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25.2px;
}
main .accompagnement .text h2 {
    margin-bottom: 50px;
}
.bottom {
    font-size: 45px;
    text-align: center;
}
.footer {
    height: 600px;
    background: #000234;   
    color: #FFF;
    box-shadow: 0 0 25px #000;
}
.content-flex {
    display: flex;
    justify-content: space-around;
    padding-top: 100px;
}
.content-flex .content-left {
    padding-left: 50px;
    margin-top: -10px;
}
.content-flex .content-left h2 {
    margin-top: 0;
}
.content-flex .content-right span{
    font-weight: 900;
}
.content-flex .content-right .text {
    font-size: 11px;
    color: #988FA3;
    font-weight: 100;
}
.content-flex .content-left h2 { 
    font-size: 30px;
    font-weight: 900;
}
.content-flex .content-left button {
    width: 239.8px;
    height: 56px;
    font-size: 18px;
    font-weight: 100;
    color: #FFF;
    background: #594FF4;
    border-radius: 100px;
    border: 0;
    cursor: pointer;
}
.content-bottom {
    text-align: center;
    padding-top: 100px;
    left: 0;
    right: 0;
}
.content-bottom a {
    margin-left: 40px;
    font-size: 13px;
    font-weight: 100;
    color: #EFEEF2;
    text-decoration: none;
}
.popup button {
    cursor: pointer;
    position: fixed;
    bottom: 12.5px;
    right: 40px;
    height: 50px;
    font-size: 14px;
    padding: 12px 15px 12px 15px;
    color: #FFF;
    background: #00375e;
    border-radius: 12.5px;
    border: 0;
}
.popup button:hover {
    transition-duration: 1.5s;
    background: #00375e;
    border-radius: 100px;
    color: #FFF;
}