* {
    box-sizing: border-box;
}

body {
    line-height: 1.6;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

/* responsive petit écran pc */ 

@media screen and (max-width: 1024px) {

    /* Inscription et logo Arion */

    .main-content .middle-block {
        display: block;
        width: 50%;
        margin: 0 auto;
    }
    .main-content .middle-block .content-left {
        width: 100%;
        border-radius: 0;
    }
    .main-content .middle-block .content-left .little-title {
        margin: 0;
    }

    /* Formulaire de contact */

    .main-content .middle-block form {
        width: 100%;
        border-radius: 0;
    }
    .main-content .middle-block form .url {
        width: 90%;
    }
    .main-content .middle-block form .flex-input{
        display: block;
    }
    .main-content .middle-block form .second-part-flex-input {
        margin: 25px 0 0 0;
    }
    .main-content .middle-block form .button {
        margin: 0;
    }
    .main-content .middle-block form .button button{
        font-size: 18px;
        width: 200px;
        height: 50px;
    }

    /* Indication de contact */

    .bottom-middle-block .img {
        width: 100%;
    }

    /* Avant dernière partie en haut du footer */
    .main-bottom .text {
        padding-left: 35px;
    }
    .main-bottom .text h2 {
        margin-top: 0;
    }
    .main-bottom .section-part p {
        font-size: 14px;
    }
}

/* Responsive Tablet */

@media screen and (min-width: 768px) {

    /* Main Parts */

    .main-content {
        width: 100%;
    }

    /* Inscription et logo Arion */

    .main-content .middle-block {
        display: block;
        width: 70%;
        margin: 0 auto;
    }
    .main-content .middle-block .content-left {
        width: 100%;
        border-radius: 0;
    }
    .main-content .middle-block .content-left .little-title {
        margin: 0;
    }

    /* Formulaire de contact */

    .main-content .middle-block form {
        width: 100%;
        border-radius: 0;
    }
    .main-content .middle-block form .flex-input{
        display: block;
    }
    .main-content .middle-block form .second-part-flex-input {
        margin: 25px 0 0 0;
    }
    .main-content .middle-block form .button {
        margin: 0;
    }
    .main-content .middle-block form .button button{
        font-size: 16px;
        width: 200px;
        height: 50px;
    }

    /* Indication de contact */

    .bottom-middle-block .img {
        width: 100%;
    }

    /* Avant dernière partie en haut du footer */
    .main-bottom .text {
        padding-left: 45px;
    }
    .main-bottom .text h2 {
        margin-top: 0;
        font-size: 20px;
    }
    .main-bottom img {
        width: 50%;
    }
    .main-bottom .section-part p {
        font-size: 14px;
    }

    /* Main */

    .main-content .middle-block .content-left h2 {
        text-align: center;
    }
}

/* Responsive Téléphone taille L */

@media screen and (min-width: 640px) and (max-width: 768px) {

    /* Main Parts */

    .main-content {
        width: 100%;
    }

    /* Inscription et logo Arion */

    .main-content .middle-block {
        display: block;
        width: 70%;
        margin: 0 auto;
    }
    .main-content .middle-block .content-left {
        width: 100%;
        border-radius: 0;
    }
    .main-content .middle-block .content-left img {
        width: 100%;
    }
    .main-content .middle-block .content-left .little-title {
        margin: 0;
    }

    /* Formulaire de contact */

    .main-content .middle-block form {
        width: 100%;
        border-radius: 0;
    }
    .main-content .middle-block form .flex-input{
        display: block;
    }
    .main-content .middle-block form .second-part-flex-input {
        margin: 25px 0 0 0;
    }
    .main-content .middle-block form .button {
        margin: 0;
    }
    .main-content .middle-block form .button button{
        font-size: 16px;
        width: 200px;
        height: 50px;
    }

    /* Indication de contact */

    .bottom-middle-block .img {
        width: 100%;
    }

    /* Avant dernière partie en haut du footer */
    .main-bottom .text {
        padding-left: 45px;
    }
    .main-bottom .text h2 {
        margin-top: 0;
        font-size: 20px;
    }
    .main-bottom img {
        width: 50%;
    }
    .main-bottom .section-part p {
        font-size: 14px;
    }

    /* Main */
    .main-content .middle-block form input {
        width: 90%;
    }
    .main-content .middle-block .content-left h2 {
        text-align: center;
        font-size: 35px;
    }

    .main-content .middle-block .content-left img {
        text-align: center;
        margin-left: -106px;
    }
}

@media screen and (min-width: 627px) and (max-width: 640px) {

    /* Main */
    .main-content .middle-block .content-left img {
        width: 100%;
    }
    .main-content .middle-block .content-left h2 {
        text-align: center;
        font-size: 20px;
    }
    .main-content .middle-block .content-left .link {
        margin-left: 20px;
    }
    .main-content .middle-block .content-left img {
        height: 125px; 
        margin-left: -25px;
        margin-top: 0px;
    }

    /* Formulaire */
    .main-content form {
        margin-bottom: 50px;
    }
    .main-content .middle-block form input {
        width: 90%;
    }
    /* Main bottom */
    .main-bottom .text h2 {
        font-size: 18px;
    }
    .main-bottom img {
        width: 323px;
        height: 272px;
    }
}

@media screen and  (max-width: 627px) {

    /* Main */
    .main-content .middle-block .content-left h2 {
        text-align: center;
        font-size: 20px;
    }
    .main-content .middle-block .content-left img {
        height: 100px; 
        margin-left: 40px;
        margin-top: 0px;
    }
    .main-content .middle-block {
        width: 70%;
        margin-bottom: 50px;
    }
    .main-content .middle-block .content-left img {
        width: 100%;
    }
    .main-content .middle-block form input {
        width: 90%;
    }

    /* Main bottom */
    .main-bottom img {
        width: 200px;
        height: 190px;
        margin-top: 100px;
    }
}

@media screen and  (max-width: 578px) {

    /* Main */
    .main-content .middle-block .content-left h2 {
        text-align: center;
        font-size: 20px;
    }
    .main-content .middle-block .content-left img {
        height: 100px; 
        margin-left: 6px;
        margin-top: 0px;
    }
    .main-content .middle-block {
        width: 70%;
        margin-bottom: 50px;
    }
    .main-content .middle-block .content-left img {
        width: 100%;
    }
    .main-content .middle-block form input {
        width: 90%;
    }

    /* Main bottom */
    .main-bottom img {
        width: 200px;
        height: 190px;
        margin-top: 100px;
    }
    .main-bottom h2 {
        font-size: 22px;
    }
}

@media screen and  (max-width: 520px) {

    /* Main */
    .main-content .middle-block .content-left h2 {
        text-align: center;
        font-size: 20px;
    }
    .main-content .middle-block .content-left img {
        height: 100px; 
        margin-left: 6px;
        margin-top: 0px;
    }
    .main-content .middle-block {
        width: 70%;
        margin-bottom: 50px;
    }
    .main-content .middle-block .content-left img {
        width: 100%;
    }
    .main-content .middle-block form input {
        width: 90%;
    }

    /* Main bottom */
    .main-bottom img {
        width: 200px;
        height: 190px;
        margin-top: 100px;
    }
    .main-bottom h2 {
        font-size: 22px;
    }
}
@media screen and  (max-width: 385px) {

    /* Main */
    .main-content {
        width: 100%;
        margin: 0 auto;
    }
    .main-content .middle-block .content-left h2 {
        text-align: center;
        font-size: 20px;
    }
    .main-content .middle-block .content-left img {
        height: 100px; 
        margin-left: 6px;
        margin-top: 0px;
    }
    .main-content .middle-block {
        width: 90%;
        margin-bottom: 100px;
    }
    .main-content .middle-block .content-left img {
        width: 100%;
    }
    .main-content .middle-block form input {
        width: 90%;
    }

    /* Main bottom */
    .main-bottom .section-part p  {
        font-size: 10px;
    }
    .main-bottom img {
        width: 200px;
        height: 190px;
        margin-top: 100px;
    }
    .main-bottom h2 {
        font-size: 15px;
    }
}