* {
    box-sizing: border-box;
}
/* responsive petit écran pc */ 

@media screen and (max-width: 1024px) {

    /* Footer de la page */
    .footer {
        padding-left: 35px;
    }
    .footer .content-flex .img img {
        width: 120px;
        height: 100px;
    }
    .footer .content-flex .content-left {
        margin-right: 43px;
    }
    .footer .content-flex .content-left h2 {
        font-size: 22px;
    }
    .footer .content-flex .content-left button {
        width: 180px;
        font-size: 16px;
    }
}

/* Responsive Tablet */

@media screen and (max-width: 768px) {

    /* Footer de la page */
    .footer {
        padding-left: 35px;
    }
    .footer .content-flex .img img {
        width: 100px;
        height: 80px;
    }
    .footer .content-flex .content-left {
        margin-right: 43px;
    }
    .footer .content-flex .content-left h2 {
        font-size: 20px;
    }
    .footer .content-flex .content-left button {
        width: 180px;
        font-size: 14px;
    }
}

/* Responsive Téléphone taille L */

@media screen and (min-width: 640px) and (max-width: 768px) {

    /* Footer de la page */
    .footer {
        padding-left: 35px;
    }
    .footer .content-flex .img img {
        width: 100px;
        height: 80px;
    }
    .footer .content-flex .content-left {
        margin-right: 43px;
    }
    .footer .content-flex .content-left h2 {
        font-size: 20px;
    }
    .footer .content-flex .content-left button {
        width: 180px;
        font-size: 14px;
    }
}

@media screen and (min-width: 627px) and (max-width: 640px) {

}

@media screen and  (max-width: 627px) {

    /* Footer */
    .footer .content-flex .img img {
        width: 85px;
        height: 85px;
    }
    .footer .content-flex .content-left h2 {
        font-size: 20px;
    }
    .footer .content-flex .content-left button {
        width: 130px;
        font-size: 12px;
    }
}

@media screen and  (max-width: 578px) {

    /* Footer */
    .footer .content-flex .img img {
        width: 85px;
        height: 85px;
    }
    .footer .content-flex .content-left h2 {
        font-size: 20px;
    }
    .footer .content-flex .content-left button {
        width: 130px;
        font-size: 12px;
    }

}

@media screen and  (max-width: 520px) {

    /* Footer */
    .footer .content-flex {
        padding-top: 50px;
    }
    .footer .content-flex .img img {
        width: 40px;
        height: 30px;
        margin-top: 8px;
    }
    .footer .content-flex .content-left {
        margin-right: 15px;
        padding-left: 0px;
        margin-left: 15px;
    }
    .footer .content-flex .content-left h2 {
        font-size: 12px;
        margin-top: 12px;
    }
    .footer .content-flex .content-left button {
        width: 100px;
        font-size: 10px;
        border-radius: 20px;
        height: 40px;
        margin-left: -25px;
    }
    .footer .content-flex .content-right a img {    
        width: 20px;
        height: 20px;
    }
    .footer .content-flex .content-right span {
        font-size: 12px;
    }
    .footer hr {
        margin: 0 auto;
        margin: 25px 0 25px 0;
    }
    .footer .content-bottom a {
        font-size: 12px;
    }
    .footer .content-bottom a:nth-child(1) {
        margin-left: 0;
    }
    .footer .content-bottom a:nth-child(2) {
        margin-left: 10px;
    }
}
@media screen and  (max-width: 385px) {
    /* Footer */
    .footer .content-flex{
        display: block;
    }
    .footer .content-flex .img {
        width: 50px;
    }
    .footer .content-flex .img img {
        width: 50px;
        height: 50px;
        margin-left: 10px;
    }
    .footer .content-flex .content-left {
        margin-left: 10px;
        margin: 0;
        padding-left: 10px;
        margin-right: 10px;
    }
    .footer .content-flex .content-left h2 {
        font-size: 16px;
    }
    .footer .content-flex .content-left button {
        width: 125px;
        font-size: 10px;
        margin-bottom: 10px;
    }
    .footer .content-bottom {
        padding: 0;
        margin: 0;
        bottom: 0;
    }
    .footer .content-bottom a:nth-child(2) {
        margin-left: 10px;
    }
}