* {
    box-sizing: border-box;
}

body {
    line-height: 1.6;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

/* responsive petit écran pc */ 

@media screen and (max-width: 1024px) {

    body {
        width: 100%;
    }

    .header .navbar {
        width: 100%;
    }
}

/* Responsive Tablet */

@media screen and (min-width: 768px) {

    body {
        width: 100%;
    }

    /* Header */

    .header .navbar {
        width: 100%;
    }
    .header .navbar img {
        width: 100px;
        height: 100px;
        margin-top: -34px;
    } 
    .header .navbar .links {
        font-size: 12px;
    }
    .header .navbar .links a:nth-child(2) {
        margin: 0;
        padding-left: 15px;
    }
    .header .navbar .links a:nth-child(3) {
        margin: 0;
        padding-left: 15px;
    }
    .header .navbar .button-links {
        padding-right: 20px;
    } 
    .header .navbar .button-links button {
        width: 143px;
        font-size: 12px;
    }
}

/* Responsive Téléphone taille L */

@media screen and (min-width: 640px) and (max-width: 768px) {

    body {
        width: 100%;
    }

    /* Header */

    .header .navbar {
        width: 100%;
    }
    .header .navbar img {
        width: 80px;
        height: 80px;
        margin-top: -26px;
    } 
    .header .navbar .links {
        font-size: 9px;
        font-weight: 500;
    }
    .header .navbar .links a:nth-child(2) {
        margin: 0;
        padding-left: 15px;
    }
    .header .navbar .links a:nth-child(3) {
        margin: 0;
        padding-left: 15px;
    }
    .header .navbar .button-links {
        padding-right: 20px;
    } 
    .header .navbar .button-links button {
        width: 135px;
        font-size: 9px;
        font-weight: 900;
    }
}

@media screen and  (max-width: 627px) {
    .header .navbar img {
        width: 80px;
        height: 80px;
        margin-top: -26px;
    } 
    .header .navbar .button-links {
        padding-right: 10px;
    } 
    .header .navbar .button-links button {
        width: 90px;
        font-size: 6px;
        font-weight: 900;
        height: 40px;
        margin-top: 2px;
        width: 100px;
    }
    .header .navbar .links {
        font-size: 10px;
    }
    .header .navbar .links a:nth-child(2) {
        padding-left: 7px;
    }
    .header .navbar .links a:nth-child(3) {
        padding-left: 7px;
    }
}

@media screen and  (max-width: 578px) {
    .header .navbar img {
        width: 60px;
        height: 60px;
        margin-top: -15px;
    }
    .header .navbar .button-links {
        padding-right: 10px;
    } 
    .header .navbar .button-links button {
        width: 90px;
        font-size: 8px;
        font-weight: 800;
        height: 40px;
        margin-top: 2px;
        width: 100px;
    }
    .header .navbar .links {
        font-size: 8px;
    }
    .header .navbar .links a:nth-child(2) {
        padding-left: 7px;
    }
    .header .navbar .links a:nth-child(3) {
        padding-left: 7px;
    }
}

@media screen and  (max-width: 520px) {
    .header .navbar img {
        width: 50px;
        height: 50px;
        margin-top: -12px;
    }
    .header .navbar .button-links {
        margin-top: -25px;
        width: 135px;
    } 
    .header .navbar .button-links button {
        font-size: 8px;
        font-weight: 800;
        height: 40px;
        width: 125px;
    }
    .header .navbar .button-links .rdv {
        margin-top: 10px;
        margin-left: -10px;
    }
    .header .navbar .links {
        font-size: 8px;
        display: flex;
    }
    .header .navbar .links a:nth-child(2) {
        padding-left: 2px;
    }
    .header .navbar .links a:nth-child(3) {
        padding-left: 2px;
    }
}
@media screen and  (max-width: 385px) {
    .header .navbar img {
        width: 50px;
        height: 50px;
        margin-top: -12px;
    }
    .header .navbar .button-links {
        margin-top: -25px;
        width: 115px;
    } 
    .header .navbar .button-links button {
        font-size: 6px;
        font-weight: 800;
        height: 40px;
        width: 100px;
    }
    .header .navbar .button-links .rdv {
        margin-top: 10px;
        margin-left: -10px;
    }
    .header .navbar .links {
        font-size: 8px;
        display: flex;
    }
    .header .navbar .links a:nth-child(2) {
        padding-left: 2px;
    }
    .header .navbar .links a:nth-child(3) {
        padding-left: 2px;
    }
}
