/*-------------------------------------|
|                FONTS                 |
|-------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


/*-------------------------------------|
|                ROOT                  |
|-------------------------------------*/
:root {
    --global-text-color: #070E27;
    --global-font-weight: 500;
    --global-font-family: Arial, sans-serif;
    --global-header-link-size: 14px;
    --global-button-color: #594FF4;
    --global-big-title: 80px;
    --big-title-font-family: Arial, sans-serif;
    --big-title-font-weight: 500;
    --global-text-font-size: 16px;
    --global-little-title: 60px;
    --global-ads-button-background-color: #070E27;
}

/*-------------------------------------|
|                MIXINS                |
|-------------------------------------*/
@mixin toCenter() {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*-------------------------------------|
|                 PAGE                 |
|-------------------------------------*/
body {
    width: 100%;
    overflow-x: hidden;
}
.sl_container {
    max-width: 1300px;
    width: 100%;
    margin: {
        left: auto;
        right: auto;
    };
    padding: {
        left: 20px;
        right: 20px;
    };
}
@media (max-width: 768px) {
    .sl_container {
        margin: 0;
    }
}
section {
    padding: 120px 20px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: var(--global-text-color);
    text-decoration: none;
}

/*-------------------------------------|
|             TYPOGRAPHY               |
|-------------------------------------*/
h1 {
    font-size: var(--global-big-title);
    font-weight: 600;
    line-height: 1.125em;
    letter-spacing: -1.6px;
}
@media (max-width: 768px) {
    h1 {
        font-size: 28px;
    }
}
h2 {
    font-size: var(--global-little-title);
}
p {
    font-size: var(--global-text-font-size);
}
@media (max-width: 768px) {
    p {
        font-size: 12px;
    }
}
h3 {
    font-size: 30px;
}
@media (max-width: 768px) {
    h3 {
        font-size: 25px;
    }
}

/*-------------------------------------|
|              Elements                |
|-------------------------------------*/
.btn {
    @include toCenter();
    padding: 20px 40px;
    gap: 10px;
    border-radius: 60px;
    color: white;
    background: #070E27;
    text-align: center;
}